<% include partials/header %>

<div class = 'container'>
    <img class = 'avatar m-b-1' src = 'https://api.adorable.io/avatars/100/<%=userData.first_name%> <%=userData.last_name%>.png' />
    <h3 class = 'font-normal text-center m-b-1'><%= userData.first_name%> <%=userData.last_name%></h3>
    
    <div class = 'box'>
        <h4 class = 'm-b-1'>Summary</h4>
        <p><%=userData.summary%></p>
    </div>
    
    <% if (isUser) { %>
    <a href = '/user/<%=userData._id%>/edit' class = 'button m-t-1 m-b-1'><i class="fas fa-user-edit"></i> Edit Profile</a>
    <% } %>
    
    <h3><%= userData.first_name %>'s Posts</h3>
    <div class = 'card-container'>
        <% posts.forEach(post => { %>
        <div onclick = 'window.location = "/show/<%=post._id%>"' class = 'card'>
            <p class = 'card__title'><%= post.title %></p>
            <p class = 'card__body'><%= post.body %></p>
        </div>
        <% }) %>
    </div>
</div>

<% include partials/footer %>